
</div>
<div class="footer-padding"></div>
  <!-- <div class="footer"> 
    <p>Made by <a href="https://www.linkedin.com/in/sanchit-k-09a172199/">Sanchit</a> a.k.a. 
      <a href="https://github.com/DarkSoul26">DarkSoul26</a> | © 2021 All Rights Reserved.</p>
  </div> -->
</div>
</body>
</html>
