<%- include("partials/header"); -%>
    <h1>About</h1>
    <hr>
    <p class="para temp1"> Who are we? 
        <br><br>We are intellectual people like you!
        <br><br>We help so that your ideas can reach a larger audience. 
        <br><br>We work together to design, create and produce work that we are proud of for folks that we believe in. 
        <br><br><b>Reach us out via:</b>
        <br>-> <a href="https://www.linkedin.com/in/sanchit-k-09a172199/">Linkedin</a>
        <br>-> <a href="mailto:sanchitkalsi@gmail.com">Mail</a>
 </p>
<%- include("partials/footer"); -%>
